@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}
section{
    max-width: 1920px;
}
.container{
    max-width: 1180px !important;
}

.main-heading {
    max-width: 550px;
    font-size: 40px;
    line-height: 120% !important;
    font-weight: 600;
}

.heading-span {
    color: #FF8C00;
}

.bg-color {
    background: #0E0F13;
    width: 80%;
}

.bg-img {
    background-image: url(/assets/image/webp/sec-4-bg.webp);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-bottom-spacing{
    padding: 170px 0;
}
.light-gray{
    color: #BEBBB8;
}
.services-btn{
    background: #FFF0CC;
    border: 2px solid #FFF0CC;
    padding: 12px 24px;
    transition: all 300ms linear;
}
.services-btn:hover{
    background:transparent;
    color:#FFF0CC ;
}
.sec-img{
    position: absolute;
    top: -120%;
}
.img-position{
    position: relative;
}
@media (max-width:1200px) {
    .sec-img{
        position: unset !important;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        
    }
    .main-heading{
        font-size: 34px;
    }
    .col-xl-6{
        position: unset !important;
    }
    .top-bottom-spacing{
        padding: 60px 0;
    }
}
@media (max-width:576px) {
    .sec-img{
        width: 100%;
    }
    .main-heading{
        font-size: 28px;
    }
}