@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}

.text-lightblack {
  color: #1e1e1e;
}

.first-accordion-p {
  padding: 24px;
}

.accordion-heading {
  max-width: 788px;
  margin-left: auto;
  margin-right: auto;
  line-height: 150%;
}

.accordion-button {
  line-height: 150% !important;
  color: #3c278d !important;
}

.accordion-body {
  max-width: 786px !important;
  line-height: 150% !important;
}

.first-accordion {
  max-width: 834px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.accordion-button:not(.collapsed) {
  background: transparent !important;
  border: none !important;
}

.accordion-button {
  background: transparent !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-item {
  border: 1px solid #3c278d !important;
  border-radius: 12px !important;
  margin-top: 16px !important;
}

.borders {
  border: 1px solid #00000066 !important;
  max-width: 786px;
  margin-left: auto;
  margin-right: auto;
}

.accordan-two-heading {
  max-width: 557px;
}

.accordion-owl {
  max-width: 529px !important;
  margin-right: auto !important;
}

.border-small {
  border: 1px solid #00000066 !important;
  max-width: 481px;
  margin-left: auto;
  margin-right: auto;
}

.fs-2xl {
  font-size: 48px !important;
}

.fs-lg {
  font-size: 16px !important;
}

.owl-img {
  max-width: 570px !important;
}

.accordion-button:not(.collapsed) {
  font-weight: 600 !important;
}

.first-accordion-para-pt {
  padding-top: 20px !important;
}

.first-accordion-btn-h {
  height: 68px !important;
}

.second-accordion-btn-h {
  height: 68px !important;
}

.accordion-button::after {
  background-image: url(/assets/images/svg/arrow.svg) !important;
  transform: rotate(180deg);
}

.accordion-button:not(.collapsed)::after {
  transform: rotate(0deg) !important;
}

.accordion-button {
  padding: 20px 24px 20px 24px !important;
}

.accordion-body {
  padding: 20px 24px !important;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accoordian-heading-fs-lg {
  font-size: 20px !important;
}

.line-height-xxl {
  line-height: 150%;
}

.accordian-two-gap-xxl {
  gap: 0px;
}

.accordian-two-heading-para-pb {
  padding-bottom: 24px;
}

.second-accord-text {
  font-size: 16px;
}

.second-accordion-owl-img-mt {
  margin-top: 24px !important;
}

/* -------------responsive------------------ */
@media (min-width: 991.99px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
  
}

@media (max-width: 1279.99px) {

  .second-accordion-owl-py {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .first-accordion-para-pt {
    padding-top: 16px !important;
  }

  .first-section-accordion-py {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .second-accordion-btn-h {
    height: 100% !important;
  }

  .accordian-two-gap-xxl {
    gap: 12px;
  }

  .second-accordion-lg-max-w {
    max-width: 427px !important;
  }

  .second-accordion-md-max-w {
    max-width: 429px !important;
    width: 100% !important;
  }

}

@media (max-width: 1023.98px) {

  .fs-2xl {
    font-size: 38px !important;
  }
  .center-box {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
  }

  .xl-flex-col {
    flex-direction: column;
  }

  .max-md-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }

  .accordian-two-gap-xxl {
    gap: 35px;
  }

  .second-accordion-owl-img-mt {
    margin-top: 0px !important;
  }

}

@media (max-width: 767.98px) {

  .accordion-body {
    font-size: 14px !important;
  }

  .accordian-two-heading-para-pb {
    padding-bottom: 12px;
  }

  .second-accordion-owl-py {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .first-section-accordion-py {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .fs-lg {
    font-size: 18px !important;
  }

  .fs-2xl {
    font-size: 30px !important;
  }

  .accordion-button {
    padding: 12px 15px 12px 15px !important;
  }

  .accordion-heading {
    font-size: 14px !important;
  }

  .fs-base-md {
    font-size: 16px !important;
  }

  .second-accord-text {
    font-size: 14px;
  }

  .accoordian-heading-fs-lg {
    font-size: 16px !important;
  }

}

@media (max-width: 575.98px) {

  .second-accordion-owl-py {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .first-accordion-p {
    padding: 16px;
  }

  .first-section-accordion-py {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .accordion-body {
    padding: 20px 12px !important;
  }

  .fs-lg {
    font-size: 14px !important;
  }

  .first-accordion-btn-h {
    height: 100% !important;
  }

}
