@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
      font-family: "Inter", sans-serif;
}

.text-lightblack{
    color:#1E1E1E;
}

.accordion-heading{
    max-width: 788px;
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
}

.accordion-button{
line-height: 150% !important;
color: #3C278D !important;
}

.accordion-body{
    max-width: 786px !important;
}

.first-accordion{
    max-width: 834px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.accordion-button:not(.collapsed) {
    background: transparent !important;
    border: none !important;
}

.accordion-button{
    background: transparent !important;
}

.accordion-button:focus{
    box-shadow: none !important;
}

.accordion-item{
    border: 1px solid #3C278D !important;
    border-radius: 16px !important;
    margin-top: 16px !important;
}

.borders{
    border: 1px solid #00000066 !important;
    max-width: 786px;
    margin-left: auto;
    margin-right: auto;
}

.max-w-5xl{
    max-width: 557px;
}

.accordion-owl{
max-width: 529px !important;
margin-right: auto !important;
}

.border-small{
    border: 1px solid #00000066 !important;
    max-width: 481px;
    margin-left: auto;
    margin-right: auto;
}

.fs-2xl{
    font-size: 46px !important;
}

.fs-lg{
    font-size: 20px !important;
}

.owl-img{
    max-width: 570px !important;
}
.accordion-button:not(.collapsed){
font-weight: 600 !important;
}

.h-xl{
    height: 68px !important;
}
.accordion-button::after{
    background-image: url(/assets/images/svg/arrow.svg) !important;
}

/* -------------responsive------------------ */
@media (max-width:1024px) {
    .fs-2xl{
        font-size: 38px !important;
    }
}

@media (max-width:768px) {
    .fs-lg{
        font-size: 18px !important;
    }
    
     .fs-2xl{
        font-size: 28px !important;
    }
}