@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}

/* .container{
  max-width: 1140px !important;
} */
.min-w-267{
  min-width: 267px;
}

.fs-4xl {
  font-size: 56px;
  line-height: 119%;
}

.rounded-lg{
  border-radius: 12px !important;
}

.first-section-cards-hight-2xl{
  height: 324px;
}

.max-w-252{
  max-width: 252px !important;
}

.max-w-6xl{
  max-width: 1116px !important;
}

.pt-sm{
  padding-top: 16px;
}
.text-base {
  font-size: 16px;
}

.light-black {
  color: #000000b2 !important;
}

.w-lg-2xl{
  width: 122px !important;
}

.text-xl {
  font-size: 20px;
  line-height: 24.2px;
}

.pt-1xl{
  padding-top: 20px;
}

/* .p-sm-xl{
  padding: 12px !important;
} */

.text-purple {
  color: #3c278d;
}

.card-bg-lightGray{
  background: #1E1E1E14 !important;
}

.pointer-event{
  pointer-events: none;
}


.max-w-3xl{
  max-width: 415px;
}

.pt-sm-xl{
  padding-top: 12px !important;
}

.pb-2xl{
  padding-bottom: 32px !important;
}

/* ----section-two-card---- */
.my-xxl{
  margin-top: 60px;
  margin-bottom: 60px;
}

.max-w-558 {
  max-width: 558px;
}

.min-w-56 {
  min-width: 56px;
}

.icon-box-h-1xl {
  height: 56px;
}

.card-two-heading {
  font-size: 24px;
  line-height: 120%;
  color: #6c6354 !important;
}

.card-two-text {
  font-size: 16px;
  line-height: 150%;
  color: #6c6354 !important;
  opacity: 70%;
}

.max-w-788 {
  max-width: 788px;
}

.mt-1xl{
  margin-top: 2.5rem;
}

.card-heading-text {
  font-size: 16px !important;
  line-height: 150%;
  color: #6c6354;
  opacity: 70%;
}

.second-section-my-xxl{
  margin-top: 36px;
  margin-bottom: 36px;
}

.cardTwo-border-success {
  transition: all 300ms linear !important;
  border: 1px solid #4f756666 !important;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.09) !important;
}

.cardTwo-border-success:hover {
  border: 1px solid #4f7566 !important;
    box-shadow: none !important;
}

.digital-heading {
  font-size: 48px;
  line-height: 120%;
  color: #6c6354;
}

.max-w-9xl{
  max-width: 933px;
}

.eighth-box {
  border: 1px solid #e2d2a9;
  width: fit-content;
  border-radius: 123px;
  background: #f8f0d5;
}

.tracking-sm{
  letter-spacing: 0.4px;
}

.eighth-box-text{
  font-size: 14px;
  line-height: 150%;
  color: #6C6354;
}

.opacity-70{
  opacity: 70% !important;
}

.h-xxl{
  height: 277px;
}

.max-my-xxl{
  margin-top: 48px;
  margin-bottom: 48px;
}

/* -------third-section-cards--------- */

.bg-darkBLue{
    background-color: #113053;
}

.max-w-640{
    max-width: 640px;
}

.third-card-heading{
font-size: 48px;
line-height: 120%;
color: #242021 !important;
}

.rounded-bottom-1xl{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* --------------fourth-card-section---------- */

.fourth-card-heading{
  font-size: 40px;
}

.text-pink{
color:#FF00CC;
}

.max-w-663{
  max-width: 663px;
}

.heading-leading{
  line-height: 150%;
}

.light-black{
  color:#030303;
}

.fourth-card-inner-heading{
font-size: 24px;
}

.max-w-305{
  max-width: 305px;
}

.border-pink{
  border: 1px solid #FF00CC;
  border-radius: 22px;
  transition: all 300ms linear;
}

.card-borders-pink:hover{
  box-shadow: 0px 4px 22px 0px #00000024;
border-color:#FF00CC ;
}

.min-w-558{
  min-width: 558px;
}

.fourth-card-btn{
  border-radius: 76px;
  background-color: transparent;
  transition: all 300ms linear;
  line-height: 150%;
  min-width: 131px;
}

.px-xl{
  padding-left: 20px;
  padding-right: 20px;
}

.fourth-card-btn:hover{
  color: #ffffff;
  background-color: #FF00CC;
}

.max-w-1140{
  max-width: 1140px !important;
}

.card-borders-pink{
  border: 1px solid #FF00CC33;
   transition: all 300ms linear;
   border-radius: 22px;
}

.py-14{
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.my-4xl{
  margin-top: 40px;
  margin-bottom: 40px;
}


/* ------------responsive-------------- */

@media (max-width:1280px) {

  .xl-w-full{
    width: 100% !important;
  }

.my-4xl{
 margin-top: 36px;
 margin-bottom: 36px;
}

  .xl-max-w-3xl{
    max-width: 415px;
  }

.max-my-xxl{
  margin-top: 36px;
  margin-bottom: 36px;
}

    .xl-flex-wrap{
      flex-wrap: wrap;
    }

    .max-w-558{
      max-width: 558px !important;
    }

    .xl-min-w-unset{
  min-width: unset;
}
.h-xxl{
  height: 100%;
}
.first-section-my-xxl{
  margin-top: 36px;
  margin-bottom: 36px;
}

}

@media (max-width:1024PX) {
    .digital-heading{
        font-size: 40PX;
    }

    .max-lg-flex-wrap{
        flex-wrap: wrap;
    }

    .third-card-heading{
        font-size: 40px;
    }

    .first-section-heading{
      font-size: 42px;
    }
  .max-sm-my-1xl{
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
}

@media (max-width:768px) {

.my-4xl{
  margin-top: 24px;
  margin-bottom: 24px;
}

  .max-my-xxl{
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .my-xxl{
    margin-top: 45px;
    margin-bottom: 45px;
  }
    .digital-heading{
        font-size: 30px;
    }

    .card-two-heading{
        font-size: 20px;
    }

    .third-card-heading{
        font-size: 36px;
    }

    .fourth-card-heading{
      font-size: 36px;
    }

    .fourth-card-inner-heading{
      font-size: 20px;
    }

    .first-section-heading{
      font-size: 32px;
    }
    .my-xxl{
  margin-top: 24px;
  margin-bottom: 24px;
}

}

@media (max-width:576px) {

.first-section-cards-hight-2xl{
  height: 300px;
}

.sm-w-full{
width: 100%;  
}


.second-section-my-xxl{
  margin-top: 24px;
  margin-bottom: 24px;
}

  .sm-mt-xl{
    margin-top: 24px !important;
  }
  
  .my-xxl{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .flex-col{
    flex-direction: column;
  }

  .max-w-305{
    max-width: none;
  }

  .mt-sm-55{
    margin-top: -55px;
  }
  
  .first-section-heading{
    font-size: 28px;
  }
  .first-section-my-xxl{
  margin-top: 20px;
  margin-bottom: 20px;
}

    .max-md-xl{
        width: 80px !important;
    }

.mt-1xl{
  margin-top: 1rem;
}

.sm-pt-xl{
  padding-top: 12px !important;
}

}