@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}

.first-cards-min-w {
  min-width: 267px;
}

.fs-4xl {
  font-size: 56px;
  line-height: 119%;
}

.rounded-lg {
  border-radius: 12px !important;
}

.first-cards-height {
  height: 324px;
}

.first-cards-para-max-w {
  max-width: 252px !important;
}

.forth-card-max-width {
  max-width: 1116px !important;
}

.first-cards-heading-pt-sm {
  padding-top: 16px;
}

.text-base {
  font-size: 16px;
}

.off-light-black {
  color: #000000b2 !important;
}

.first-cards-img-w-lg {
  width: 122px !important;
}

.text-xl {
  font-size: 20px;
  line-height: 24.2px;
}

.first-cards-img-pt {
  padding-top: 20px;
}

.text-purple {
  color: #3c278d;
}

.card-bg-lightGray {
  background: #1e1e1e14 !important;
}

.pointer-event {
  pointer-events: none;
}

.second-cards-img-max-width {
  max-width: 415px;
}

.first-cards-para-pt {
  padding-top: 12px !important;
}

.first-cards-para-pb {
  padding-bottom: 32px !important;
}

/* ----section-two-card---- */

.section-two-cards-max-W {
  max-width: 558px;
}

.section-two-cards-min-W{
  min-width: 558px;
}

.section-two-cards-circle-min-w {
  min-width: 56px;
}

.second-cards-icons-h {
  height: 56px;
}

.card-two-heading {
  font-size: 24px;
  line-height: 120%;
  color: #6c6354 !important;
}

.card-two-text {
  font-size: 16px;
  line-height: 150%;
  color: #6c6354 !important;
  opacity: 70%;
}

.second-section-heading-text-max-w {
  max-width: 831px;
}

.second-section-card-parent-mt {
  margin-top: 2.5rem;
}

.card-heading-text {
  font-size: 16px !important;
  line-height: 150%;
  color: #6c6354;
  opacity: 70%;
}

.card-two-border-border {
  transition: all 300ms linear !important;
  border: 1px solid #4f756666 !important;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.05) !important;
}

.card-two-border-border:hover {
  border: 1px solid #4f7566 !important;
  box-shadow: none !important;
}

.digital-heading {
  font-size: 48px;
  line-height: 120%;
  color: #6c6354;
}

.first-card-heading-text-max-w {
  max-width: 933px;
}

.eighth-box {
  border: 1px solid #e2d2a9;
  width: fit-content;
  border-radius: 123px;
  background: #f8f0d5;
}

.tracking-sm {
  letter-spacing: 0.4px;
}

.eighth-box-text {
  font-size: 14px;
  line-height: 150%;
  color: #6c6354;
}

.opacity-70 {
  opacity: 70% !important;
}

.fourth-cards-box-h {
  height: 277px;
}

.third-cards-box-parent-my {
  margin-top: 48px;
  margin-bottom: 48px;
}

/* -------third-section-cards--------- */

.bg-darkBLue {
  background-color: #113053;
}

.third-cards-section-para-max-w {
  max-width: 640px;
}

.third-card-heading {
  font-size: 48px;
  line-height: 120%;
  color: #242021 !important;
}

.rounded-bottom-1xl {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

/* --------------fourth-card-section---------- */

.fourth-card-heading {
  font-size: 40px;
}

.text-pink {
  color: #ff00cc;
}

.fourth-cards-section-para-max-w {
  max-width: 663px;
}

.heading-leading {
  line-height: 150%;
}

.light-black {
  color: #030303;
}

.fourth-card-inner-heading {
  font-size: 24px;
}


.border-pink {
  border: 1px solid #ff00cc33;
  border-radius: 22px;
  transition: all 300ms linear;
}

.card-borders-pink:hover {
  box-shadow: 0px 4px 22px 0px #00000024;
  border-color: #ff00cc;
}

.btn-border-pink {
  border: 1px solid #ff00cc;
  border-radius: 76px;
  transition: all 300ms linear;
}

.fourth-section-cards-min-w {
  min-width: 558px;
}

.fourth-card-btn {
  border-radius: 76px;
  background-color: transparent;
  transition: all 300ms linear;
  line-height: 150%;
  min-width: 131px;
}

.fourth-cards-btn-px {
  padding-left: 20px;
  padding-right: 20px;
}

.fourth-card-btn:hover {
  color: #ffffff;
  background-color: #ff00cc;
}

.fourth-cards-conatiner-max-w {
  max-width: 1140px !important;
}

.card-borders-pink {
  border: 1px solid #ff00cc33;
  transition: all 300ms linear;
  border-radius: 22px;
}

.forth-cards-btn-py {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}

.forth-cards-parent-my {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* ------------responsive-------------- */

@media (max-width: 1279.99px) {


  .fourth-cards-box-xl-w-full {
    width: 100% !important;
  }

  .forth-cards-parent-my {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .second-cards-para-max-w {
    max-width: 415px;
  }

  .third-cards-box-parent-my {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .xl-flex-wrap {
    flex-wrap: wrap;
  }

  .section-two-cards-max-W {
    max-width: 558px !important;
  }

  .xl-min-w-unset {
    min-width: unset;
  }

  .fourth-cards-box-h {
    height: 100%;
  }

  .first-section-xl-my {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .common-section-xl-my {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .first-lg-cards-pt {
    padding-top: 18px !important;
  }

  .first-cards-heading-pt {
    padding-top: 6px !important;
  }

  .fourth-cards-conatiner-mx {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  .fourth-cards-conatiner-px {
    padding-left: 12px;
    padding-right: 12px;
  }

  .fourth-cards-conatiner-max-w {
    max-width: 984px !important;
  }

  .second-cards-conatiner-px {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

@media (max-width: 1023.99px) {
  .digital-heading {
    font-size: 40px;
  }

  .max-lg-flex-wrap {
    flex-wrap: wrap;
  }

  .third-card-heading {
    font-size: 40px;
  }

  .first-section-heading {
    font-size: 42px;
  }

}

@media (max-width: 767.99px) {
  .forth-cards-parent-my {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .third-cards-box-parent-my {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .digital-heading {
    font-size: 30px;
  }

  .card-two-heading {
    font-size: 20px;
  }

  .third-card-heading {
    font-size: 36px;
  }

  .fourth-card-heading {
    font-size: 36px;
  }

  .fourth-card-inner-heading {
    font-size: 20px;
  }

  .first-section-heading {
    font-size: 32px;
  }

}

@media (max-width: 575.99px) {
  .fourth-cards-conatiner-mx {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .fourth-card-heading {
    font-size: 30px;
  }

  .first-cards-height {
    height: 300px;
  }

  .sm-w-full {
    width: 100%;
  }

  .max-sm-p-none {
    padding: 0 !important;
  }

  .common-section-xl-my {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .sm-mt-xl {
    margin-top: 24px !important;
  }

 

  .flex-col {
    flex-direction: column;
  }

  .forth-cards-para-sm-max-W {
    max-width: none;
  }


  .first-section-heading {
    font-size: 28px;
  }

  .first-section-xl-my {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .first-cards-sm-img-w {
    width: 80px !important;
  }

  .second-section-card-parent-mt {
    margin-top: 1rem;
  }

  .first-cards-sm-para-pt {
    padding-top: 12px !important;
  }
}
