@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1140px !important;
}

.text-light-black {
  color: #0e0f13;
}

.platform-box-one {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first-counter-pata-mt {
  margin-top: -1px;
}

.first-counter-height {
  height: 140px;
}

.first-card-text-color {
  color: #0e0f13;
}

.amzon-counter-heading {
  font-size: 40px;
  max-width: 662px;
  margin-left: auto !important;
  margin-right: auto !important;
  line-height: 120%;
  color: #0e0f13;
}

.text-orange {
  color: #ff8c00;
}

.amazon-card-data {
  font-size: 40px;
  line-height: 120%;
}

.light-orange-border {
  border: 1px solid #ff8c0033;
  transition: all linear 300ms;
  border-radius: 6px;
}

.light-orange-border:hover {
  border: 1px solid #ff8c00;
  backdrop-filter: blur(10px);
}

.first-counter-card-w {
  width: 308px;
}

.second-counter-card-w {
  width: 322px;
}

.third-counter-card-w {
  width: 356px;
}

.counter-card-gap {
  gap: 50px !important;
}

.text-darkgreen {
  color: #076787;
}

.bg-darkgreen {
  background-color: #076787;
}

.counter-two-text-fs {
  font-size: 20px !important;
}

.fs-xxl {
  font-size: 50px;
}

.bg-lightgreen {
  background-color: #85b6a6;
}

.bg-offGreen {
  background: #82b2c2;
}

.bg-darkGreen {
  background: #076787;
}

.plaform-card {
  width: 268px;
  border-radius: 4px;
}

.text-base {
  font-size: 16px;
}

.opacity-7xl {
  opacity: 70%;
}

.first-sec-counter-box-px {
  padding-left: 60px;
  padding-right: 60px;
}

.first-sec-counter-box-py {
  padding-top: 36px;
  padding-bottom: 36px;
}

.first-sec-counter-box-mt {
  margin-top: 60px;
}

.gap-1xl {
  gap: 24px !important;
}

.first-counter-parent-gap-4xl {
  gap: 48px;
}

.first-section-counter-box-px {
  padding-left: 20px;
  padding-right: 20px;
}

.first-section-counter-box-py {
  padding-top: 27px;
  padding-bottom: 27px;
}

.counter-card-gap {
  gap: 28px !important;
}

.first-section-amazon-px {
  padding-left: 55px;
  padding-right: 55px;
}

.first-section-amazon-py {
  padding-top: 55px;
  padding-bottom: 55px;
}

.first-section-platform-box-px {
  padding-left: 42px;
  padding-right: 42px;
}

.first-section-platform-box-two-py {
  padding-top: 40.5px;
  padding-bottom: 40.5px;
}

.second-counter-bg {
  background-color: #f5f8fa;
}

.second-section-container-two-py {
  padding-top: 80px;
  padding-bottom: 80px;
}

.text-venice-blue {
  color: #076787;
}

.fs-4xl {
  font-size: 40px;
}

.counter-cards-mt-base {
  margin-top: 60px;
}

.text-6xl {
  font-size: 60px;
}

.text-xl {
  font-size: 20px;
}

.fs-2xl {
  font-size: 50px;
}

.first-counter-para-pt {
  padding-top: 12px;
}

.mt-1xl {
  margin-top: -14px !important;
}

.card-size-3xl {
  height: 207px;
}

/* ---------------responsive------------ */

@media (max-width: 1023.98px) {

  .first-counter-parent-gap-4xl {
    gap: 36px;
  }

  .first-counter-section-py {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .amzon-counter-heading {
    font-size: 36px !important;
  }

  .fs-2xl {
    font-size: 48px;
  }

  .text-6xl {
    font-size: 48px;
  }

  .fs-4xl {
    font-size: 36px;
  }

  .plat-form-box-heading-sm-mt-para {
    margin-top: -12px !important;
  }

}

@media (max-width: 767.98px) {

  .first-counter-parent-gap-4xl {
    gap: 28px;
  }

  .platform-max-lg-cards-w {
    width: 356px !important;
  }

  .amzon-counter-heading {
    font-size: 30px !important;
  }

  .brand-icon {
    width: 78px;
  }

  .counter-card-gap {
    gap: 20px !important;
  }

  .text-6xl {
    font-size: 36px;
  }

  .counter-cards-mt-base {
    margin-top: 40px;
  }

  .fs-2xl {
    font-size: 40px;
  }

  .fs-4xl {
    font-size: 30px;
  }

}

@media (max-width: 575.99px) {

  .plat-form-box-heading-sm-mt-para {
    margin-top: -1px !important;
  }

  .card-size-3xl {
    height: 170px;
  }

  .first-counter-parent-gap-4xl {
    gap: 16px;
  }

  .first-counter-section-py {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .amzon-counter-heading {
    font-size: 24px !important;
  }

  .fs-4xl {
    font-size: 24px;
  }

  .text-6xl {
    font-size: 30px;
  }

  .counter-cards-mt-base {
    margin-top: 24px;
  }

  .fs-2xl {
    font-size: 30px;
  }

}

@media (max-width: 425px) {

  .platform-max-lg-cards-w {
    width: 351px !important;
  }

}
