
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.font-inter{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1140px !important;
}

.text-light-black{
color: #0E0F13;

}

.h-xxl{
    height: 127.6px;
}

.amzon-counter-heading{
    font-size: 40px;
    max-width: 662px;
    margin-left: auto;
    margin-right: auto;
    line-height: 120%;
}

.text-orange{
   color: #FF8C00;
}

.amzon-card-data{
    font-size: 40px;
    line-height: 120%;
}

.light-orange-border{
    border: 1px solid #FF8C0033;
    transition: all linear 300ms;
}

.light-orange-border:hover{
    border: 1px solid #FF8C00;
    backdrop-filter: blur(10px);
}

.w-3xxl{
    width:308px
}

.card-two-box-w-3xl{
    width: 322px;
}

.card-two-box-w-4xl{
    width: 356px;
}


.gap-xl{
    gap: 50px !important;
}

.amzon-box-3{
    min-width: 356px;
}

.text-darkgreen{
    color: #076787;
}

.bg-darkgreen{
    background-color: #076787;
}

.counter-two-text-fs{
    font-size: 20px !important;
}

.fs-xxl{
    font-size: 50px;
}

.platfrom-heading{
    line-height: 110%;
    font-size: 40px;
}

.bg-lightgreen{
    background-color: #85B6A6;
}

.bg-offGreen{
    background: #82B2C2;
}

.bg-darkGreen{
    background: #076787;
}

.mt-xxl{
margin-top: 56px;
}

.plaform-card{
    width: 268px;
    /* max-height: 207px; */
    border-radius: 4px;
}

.amzon-box-2{
    min-width: 322px;
}

.amzon-box{
    min-width: 308px;
}

.text-base{
    font-size: 16px;
}

.opacity-7xl{
    opacity: 70%;
}

.platform-box-px-2xl{
    padding-left: 60px;
    padding-right: 60px;
}

.platform-box-py-1xl{
    padding-top: 27.5px;
    padding-bottom: 27.5px;
}

.first-card-section-mt-6xl{
    margin-top: 60px;
}

.gap-1xl{
    gap: 24px !important;
}

.gap-4xl{
    gap: 48px;
}

.first-card-px-1xl{
    padding-left: 20px;
    padding-right: 20px;
}

.first-card-py-3xl{
    padding-top: 27px;
    padding-bottom: 27px;
}

.gap-xl{
    gap: 28px !important;
}

.px-5xl{
    padding-left: 55px;
    padding-right: 55px;
}

.py-5xl{
    padding-top: 51px;
    padding-bottom: 51px;
}


.px-4xl{
    padding-left: 42px;
    padding-right: 42px;
}

.py-3xxl{
    padding-top:36.5px;
    padding-bottom:35.5px;
}

.second-counter-bg{
    background-color:#F5F8FA;
}

.py-8xl{
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-venice-blue{
    color: #076787;
}

.fs-4xl{
    font-size: 40px;
}

.mt-6xl{
    margin-top: 60px;
}

.text-6xl{
    font-size: 60px;
}

.text-xl{
    font-size: 20px;
}

.fs-2xl{
    font-size: 50px;
}

.pt-2xl{
    padding-top: 12px;
}

.mt-1xl{
    margin-top: -14px !important;
}

/* ---------------responsive------------ */

 @media (max-width:1024px) {


    .gap-4xl{
        gap: 36px;
    }

    .max-lg-py-2xxl{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .amzon-counter-heading{
        font-size: 36px !important;
    }

    .amzon-card-data{
        font-size: 30px;
    }

    .mt-xxl{
        margin-top: 36px;
    }

    .platfrom-heading{
        font-size: 30px;
    }

   .fs-2xl{
    font-size: 48px;
}
    .text-6xl{
        font-size: 48px;
    }
    .card-size-3xl{
        height: 207px;
    }
    .fs-4xl{
        font-size: 36px;
    }
 }

 @media (max-width:768px) {

      .gap-4xl{
        gap: 28px;
    }

      .max-lg-cards-w-5xl{
        width: 356px !important;
    }

.amzon-counter-heading{
    font-size: 30px !important;
}    

.amzon-card-data{
    font-size: 25px;
}

.brand-icon{
    width: 78px;
}

.amzon-box-3{
    min-width: 308px;
}

.amzon-box-2{
    min-width: 308px;
}

.gap-xl{
    gap:20px !important;
}

.mt-xxl{
    margin-top: 26px;
}

.platfrom-heading{
    font-size: 24px;
}

.text-6xl{
    font-size: 36px;
}

.mt-6xl{
    margin-top: 40px;
}

   .fs-2xl{
    font-size: 40px;
}

 .fs-4xl{
        font-size: 30px;
    }

}

@media (max-width:576px) {

        .gap-4xl{
        gap: 16px;
    }

      .max-lg-py-2xxl{
        padding-top: 64px;
        padding-bottom: 64px;
    }


    .amzon-counter-heading{
    font-size: 24px !important;
}    

     .fs-4xl{
        font-size: 24px;
    }

    .text-6xl{
    font-size: 30px;
}

.mt-6xl{
    margin-top: 24px;
}

   .fs-2xl{
    font-size: 30px;
}

}