 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 .font-inter{
font-family: "Inter", sans-serif;
 }

 .bg-lightPink{
    background-color:#FFDEDD;
}

.text-offblack{
    color: #242021;
}

.count-down-heading{
font-size: 48px;
line-height: 1;
color: #242021;
}

.heading-text-parent{
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.bg-orange{
    background: #DA6015 !important;
}

.px-sm{
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.btn{
    transition: all 500ms linear !important;
    padding: 10.5px 20.45px;
    border-radius: 8px;
    /* margin-bottom: 20px; */
}

.btn:hover{
    color: #DA6015 !important;
   box-shadow: inset 0px 0px 1px 35px #fff;
    border: 1px solid #DA6015 !important; 
}
.fs-xl{
    font-size: 55px;
}

.timer{
    font-size: 17px;
}

.polygon{
    transform: translateY(0.9px);
}

.timer-gap-md{
    gap: 1.25rem;
}

.opacity-7{
    opacity: 70%;
}

.text-base{
    font-size: 16px;
}

.gap-5{
    gap: 20px !important;
}

.countdown-parent{
    padding: 0 12px !important;
    max-width: 425px;
}

.content-pt-4{
    padding-top: 16px !important;
}

.translate-y-sm{
    transform: translateY(0.5px);
}

.fs-5xl{
    font-size: 55px;
}

.rounded-lg{
    border-radius: 8px;
}

.px-2xl{
    padding-left: 21.24px !important;
    padding-right: 21.24px !important;
}

.py-1xl{
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.mt-10{
    margin-top: 40px;
}

.gap-5xxl{
    gap: 20px !important;
}

.pt-sm{
    padding-top: 10px;
}

.line-height-2xl{
    line-height: 1.5rem;
}
.text-tracking{
    letter-spacing: 0.2px;
}
.timer-tracking{
    letter-spacing: 0.9px;
}
.lady-img{
    max-width: 638px;
    margin-left: 10px;
  }
/* ----------responsive------------ */



@media (max-width:1023.98px) {

    section{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .max-lg-text-5xl{
        font-size: 48px;
    }

    .count-down-heading{
        font-size: 36px;
        line-height: 2.5rem;
        text-align: center;
    }
.countdown-parent{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

    .heading-text-parent{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 19px;
    padding-right: 19px;
}
.lady-img{
    max-width:unset;
    margin-left: 0;
}
.fs-xl{
    font-size: 48px;
}
.btn{
    margin-bottom: 20px;
}
}

@media (max-width:767.98px) {

    .line-height-2xl{
    line-height: 1.25rem;
}

    .max-md-text-sm{
        font-size: 14px;
    }

    .max-md-text-4xl{
        font-size: 36px;
    }

 
    .countdown-parent{
        padding-top: 20px;
    }
       .count-down-heading{
        font-size: 30px;
    }
 .text-sm{
    font-size: 14px;
    line-height: 1.25rem
 }
}

@media (max-width:576px) {

      .count-down-heading{
        font-size: 24px;
        line-height: 2rem;
    }

    .count-down-heading{
    font-size: 24px;
}
.btn{
    font-size: 14px !important;
}

.count-down-text{
    font-size: 14px !important;
}
    .fs-xl{
        font-size: 36px;
    }
}