@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1140px !important;
}

.text-light-black{
color: #0E0F13;

}

.amzon-counter-heading{
    font-size: 40px;
    max-width: 662px;
    margin-left: auto;
    margin-right: auto;
    line-height: 120%;
}

.text-orange{
   color: #FF8C00;
}

.amzon-card-data{
    font-size: 40px;
    line-height: 120%;
}

.light-orange-border{
    border: 1px solid #FF8C0033
}

.gap-xl{
    gap: 50px !important;
}