 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 .font-inter{
font-family: "Inter", sans-serif;
 }

 .bg-lightPink{
    background-color:#FFDEDD;
}

.text-offblack{
    color: #242021;
}

.count-down-heading{
font-size: 48px;
line-height: 120%;
}

.heading-text-parent{
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.bg-orange{
    background: #DA6015 !important;
}

.px-sm{
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.btn{
    /* width: 100%;
    max-width: 122px; */
    transition: all linear 300ms;
    padding: 11.5px 21.24px;
}

.btn:hover{
    color: #DA6015 !important;
    background: #ffffff !important;
    border: 1px solid #DA6015 !important; 
}
.fs-xl{
    font-size: 55px;
}

.timer{
    font-size: 17px;
}

.polygon{
    transform: translateY(0.9px);
}

.timer-gap-md{
    gap: 1.25rem;
}

.opacity-7{
    opacity: 70%;
}

.text-base{
    font-size: 16px;
}

.gap-5{
    gap: 20px !important;
}

.gap-5xxl{
    gap: 20px;
}

.content-px-3{
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.content-pt-4{
    padding-top: 16px !important;
}

.translate-y-sm{
    transform: translateY(0.5px);
}

.fs-5xl{
    font-size: 55px;
}

.rounded-lg{
    border-radius: 8px;
}

.max-w-4xll{
    max-width: 425px;
}

.px-2xl{
    padding-left: 21.24px !important;
    padding-right: 21.24px !important;
}

.py-1xl{
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

.mt-10{
    margin-top: 40px;
}

.gap-5xxl{
    gap: 20px !important;
}

.pt-sm{
    padding-top: 8.5px;
}

.line-height-2xl{
    line-height: 1.5rem !important;
}

.headin-line-height{
    line-height: 1;
}

.tracking-heading{
    letter-spacing: 0.6px;
}
.text-tracking{
    letter-spacing: 0.2px;
}
.timer-tracking{
    letter-spacing: 0.9px;
}
/* ----------responsive------------ */



@media (max-width:1023.98px) {

 
   .lg-flex-col{
        flex-direction: column;
    }
    .max-lg-text-5xl{
        font-size: 48px;
    }

    .max-lg-flex{
        display: flex;
    }

    .count-down-heading{
        font-size: 36px;
    }

    .max-lg-w-full{
        width: 100%;
    }

    .max-lg-flex-col{
        flex-direction: column;
    }

   .max-lg-jcc{
        justify-content: center;
    }

    .max-lg-aic{
        align-items: center;
    }

    .count-down-heading{
        text-align: center;
    }

    .heading-text-parent{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 19px;
    padding-right: 19px;
}


   
.fs-xl{
    font-size: 48px;
}
}

@media (max-width:768px) {

    .max-md-text-4xl{
        font-size: 36px;
    }

    .count-down-heading{
        font-size: 30px;
    }

    .max-md-pt-5{
        padding-top: 20px;
    }
}

@media (max-width:576px) {

      .count-down-heading{
        font-size: 24px;
    }

    .count-down-heading{
    font-size: 24px;
}

.count-down-text{
    font-size: 14px !important;
}
    .fs-xl{
        font-size: 36px;
    }
}