@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", serif;
}
.group-hover-show {
  display: none;
}
.group:hover .group-hover-show {
  display: block;
}
.dropdown{
  cursor: pointer;
}
.btn-link{
  text-decoration: none;
  font-size: 16px;
  color: black;
}
.button{
  min-width: 130px;
padding: 9px 16px 9px 12px !important;
}
.arrow-icon {
  transition: transform 0.3s linear;
  transform: rotate(180deg);
}
.group:hover .arrow-icon {
  transform: rotate(0deg);
}
.dropdown-menu-custom {
  height: 0;
  transition: height 0.5s linear;
  display: block;
  background-color: white;
  transform: translateY(-8px);
}
.group:hover .dropdown-menu-custom {
  height: 144px;
}
.dropdown-item-custom {
  display: block;
padding: 12px 16px;
  font-size: 1rem;
  color: black;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}
.dropdown-item-custom:hover{
  background-color: #1EABF8;
  color: white !important;
}
.btn-link:hover{
  color: black;
}