@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1140px !important;
}

.fs-2xl {
  font-size: 40px;
  line-height: 120%;
}

.form-heading {
  max-width: 439px;
}

.max-w-1139{
  max-width: 1139px !important;
}

.mb-1xl{
  margin-bottom: 31px;
}
.label-text {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #000000;
}

.h-3xl{
  height: 130px !important;
}

.input-h-sm{
  height: 48px !important;
}

.py-1xl{
  padding-top: 12px;
  padding-bottom: 12px;
}

.input-bg {
  background: #8a8a8a2b !important;
  border-radius: 12px;
}

.max-w-4xl{
  min-width: 146px !important;
}

.name-max-w {
  max-width: 559px;
}

.input-text {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  color: #000000b2;
}

.input-h {
  height: 130px;
}

.mt-2xl{
margin-top: 32px;
}

.send-btn {
  transition: all linear 300ms;
  background: #3c278d;
  color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
  max-width: 410px !important;
  border-radius: 12px;
  border: none;
}

.form-two-input {
  width: 100%;
  max-width: 425px !important;
  border: 1px solid #00000070;
  border-radius: 12px;
  padding: 11px 12px 11px 12px;
  outline: none;
}

.white-card {
  box-shadow: 5px 7px 19px -5px #00000026;
  max-width: 492px;
  background: #ffffff;
  border-radius: 12px;
  width: 100%;
}

.send-btn {
  max-width: 109px;
  margin-right: auto;
  padding: 12px 24px 12px 24px;
  gap: 8px;
  border-radius: 12px;
  color: #ffffff;
  background: #3c278d;
  margin-bottom: 44px;
  margin-top: 36px;
  /* margin-left: 33px; */
}

/* .mx-3xl{
  margin-left: 33px;
  margin-right: 33px;
} */

.fs-1xl {
  font-size: 36px;
}

.input-box-border{
  border: 1px solid #00000070 !important;
}

.mt-1xl{
  margin-top: 31px !important;
}
.second-form-text {
  color: #000000b2;
  max-width: 441px;
  line-height: 150%;
}

.get-btn {
  padding: 14px 24px 14px 24px;
  color: #ffffff;
  background: #3c278d;
  border: none;
  border-radius: 12px;
  transition: all linear 300ms;
}

.mt-xxl{
  margin-top: 52px;
}

.third-heading-max-w {
  max-width: 439px;
  margin-left: auto;
  margin-right: auto;
}

.third-input-text {
  outline: none;
  border: 1px solid #0000007d;
  background: transparent;
  color: #000000b2;
  border-radius: 12px;
}
.third-input-textarea {
  width: 100%;
  max-width: 606px;
}

.max-w-xxl{
  max-width: 441px;
}

.form-three {
  max-width: 606px;
  margin-left: auto;
  margin-right: auto;
}

.third-form-name-w {
  width: 291px !important;
}

.third-form-btn {
  padding: 13px 36px 13px 44px;
  color: #ffffff;
  background: #3c278d;
  border: none;
  border-radius: 12px;
  transition: all linear 300ms;
}

.common-border-br {
  border: 1px solid #0000007d;
  border-radius: 12px;
}

.number-input {
  border: none;
  width: 100%;
  outline: none;
}

.send-btn:hover {
  border: 1px solid #3c278d;
  background-color: #ffffff;
  color: #3c278d;
}

.third-form-btn:hover {
  border: 1px solid #3c278d;
  background-color: #ffffff;
  color: #3c278d;
}

.get-btn:hover {
  border: 1px solid #3c278d;
  background-color: #ffffff;
  color: #3c278d;
}

.h-1xl{
  height: 52px;
}

.leading-xl{
  line-height: 119%;
}

/* ------------------------responsive------------------- */
@media (max-width:1280px) {
  .xl-mt-2xl{
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .second-form-heading{
    font-size: 35px;
  }

  .my-3xl{
  margin-top: 36px;
  margin-bottom: 36px;
}

}

@media (max-width:1024px) {
   .send-btn {
    max-width: 100%;
    margin-right: auto;
    margin-left: 0 !important;
  }

}

@media (max-width: 768px) {

 .xl-mt-2xl{
    margin-top: 24px;
    margin-bottom: 24px;
  }

  /* .send-btn {
    max-width: 100%;
    margin-right: auto;
    margin-left: 0 !important;
  } */

  /* .mt-xxl {
    font-size: 35px;
  } */

  .fs-2xl {
    font-size: 30px;
  }

  .send-btn {
    margin-top: 23px;
    margin-bottom: 23px;
  }

  .mb-1xl{
    margin-bottom: 20px;
  }
  .mt-1xl{
    margin-top: 20px !important;
  }
  .mt-xxl{
    margin-top: 12px;
  }
}

@media (max-width:576px) {
  .my-3xl{
  margin-top: 24px;
  margin-bottom: 24px;
}
}