@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
    font-family: "Inter", sans-serif !important;
}

footer {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 1140px !important;
    width: 100% !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 79px;
}

.email {
    max-width: 96px;
}

.footer-bg {
    background-image: url(/assets/image/webp/bg-footer-3.webp);
    background-repeat: no-repeat;
    background-position: center;
}
.letter-spacing{
    letter-spacing: 0.4px;
}
.letter-spacing-2{
    letter-spacing: 0.09px;
}

.muted-gray {
    color: #444949 !important;
}

.about-text {
    max-width: 425px;
}

.links {
    margin-bottom: 10px;
}

.leading-150 {
    line-height: 150% !important;
}

.footer-links {
    max-width: 174px;
}

.bottom-line {
    width: 100%;
    height: 1px;
    background: #CADBDC;
    margin-bottom: 15px;
}

.transitions {
    transition: all 300ms linear;
}

.common-hover:hover {
    color: #38ADB5;
}
.main-heading{
    font-size: 24px;
}
.common-hover:hover {
    color: #38ADB5 !important;
}
.icon-hover path, rect{
    transition: all 300ms linear;
}
.icon-hover:hover path {
    fill:#38ADB5;
}
.icon-hover:hover rect{
    fill:#fff ;
}

@media (max-width:992px) {
    .bg-cover {
        background-size: cover;
    }
    .main-heading{
        font-size: 20px;
    }
}
@media (max-width:640px) {

    .main-heading{
        font-size: 18px;
    }
}
