* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
    font-family: "Inter", sans-serif !important;
}

.container {
    max-width: 1140px !important;
    width: 100% !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.light-gray{
    color: #B3B3B3;
}
.game-logo{
    margin-bottom: 26px;
}
.footer-links{
    margin-bottom: 30px;
}
.bottom-line{
    width: 100%;
    height: 1px;
    background: #4B4B4B;
    margin-top: 56px;
    margin-bottom: 35px;
}
.left-layer{
    top: 25%;
    left: 0;
    pointer-events: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    
}
.right-layer{
    bottom: 25%;
    right: 0;
    pointer-events: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.left-ellips{
    top:30%;
    left: 5%;
    pointer-events: none;
}
.right-ellips{
    top:45%;
    right: 15%;
    pointer-events: none;
}
.common-hover:hover{
    color: #EB0055;
    cursor: pointer;
}
.transitions{
    transition: all 300ms linear;
}