@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
    font-family: "Inter", sans-serif !important;
}

.container {
    max-width: 1140px !important;
    width: 100% !important;
}

footer {
    max-width: 1920px;
}

.light-gray {
    color: #B3B3B3;
}

.game-logo {
    margin-bottom: 29px;
}

.footer-links {
    margin-bottom: 30px;
}

.bottom-line {
    width: 100%;
    height: 1px;
    background: #4B4B4B;
    margin-top: 56px;
    margin-bottom: 36px;
}

.common-hover:hover {
    color: #EB0055;
}

.icon-hover path,
rect {
    transition: all 300ms linear;
}

.icon-hover:hover path {
    fill: #EB0055;
}

.icon-hover:hover rect {
    fill: #fff;
}

.left-layer {
    top: 50%;
    left: 0;
    pointer-events: none;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    transform: translatey(-50%);
}

.right-layer {
    bottom: 50%;
    right: 0;
    pointer-events: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    transform: translatey(50%);
}

.left-ellips {
    top: 30%;
    left: 5%;
    pointer-events: none;
}

.right-ellips {
    top: 45%;
    right: 15%;
    pointer-events: none;
}

.common-hover:hover {
    color: #EB0055;
    cursor: pointer;
}

.transitions {
    transition: all 300ms linear;
}