@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    text-decoration: none;
    font-family: "Inter", sans-serif !important;
}

footer {
    max-width: 1920px;
}

.container {
    max-width: 1320px !important;
    padding: 40px 12px;
}

.light-gray {
    color: #A0A6B0;
}

.bg-color {
    background: #151619;
}

.transitions {
    transition: all 300ms linear;
}

.footer-links:hover {
    color: #fff;
}

.icon-hover path,
rect {
    transition: all 300ms linear;
}

.icon-hover:hover path {
    fill: black;
}

.icon-hover:hover rect {
    fill: #fff;
}