@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
    font-family: "Inter", sans-serif;
}

/* NAVBAR-CSS */

a {
    text-decoration: none !important;
}

.main-top-section {
    border-radius: 100px;
    height: 80px;
    margin: 0px 50px;
}

.navbar-wrapper {
    padding: 0px 138px;
}

.z-6 {
    z-index: 6;
}

/* NAVBAR-HOVER */
.navbar-wrapper .nav-items-list a {
    transition: 0.3s ease-in;
    position: relative;
}

.navbar-wrapper .nav-items-list a:after {
    bottom: -6px;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #4a2d8c;
    -o-transition:
        width 0.3s ease 0s,
        left 0.3s ease 0s;
    transition:
        width 0.3s ease 0s,
        left 0.3s ease 0s;
    width: 0;
}

.navbar-wrapper .nav-items-list a:hover::after {
    width: 60%;
    left: 20%;
    border-radius: 100px;
}

.navbar-wrapper .hamburger-menu {
    position: relative;
    width: 29px;
    cursor: pointer;
    height: 25px;
    z-index: 6;
}

.navbar-wrapper .first {
    top: 3px;
    -webkit-transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .sec {
    top: 11px;
    background: #ffffff;
    -webkit-transition: all 0ms 300ms;
    -o-transition: all 0ms 300ms;
    transition: all 0ms 300ms;
}

.navbar-wrapper .third {
    top: 19px;
    -webkit-transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    display: inline-block;
    left: 0;
    z-index: 1;
}

.navbar-wrapper .animate .sec {
    opacity: 0;
}

.navbar-wrapper .animate .first {
    top: 11px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.navbar-wrapper .animate .third {
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:
        top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@-webkit-keyframes mymove {
    from {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes mymove {
    from {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
    }
}

.left {
    opacity: 0;
}

.fix-screen-mobile {
    height: 100vh;
    overflow: hidden;
}

.left li {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0;
}

/* NAVBAR-CSS-END */

@media (min-width: 1200px) {
    #overlay {
        display: none;
    }
}

@media (max-width: 1199.98px) {

    .overlay-links {
        opacity: 1;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        position: relative;
    }

    .overlay-links::after {
        position: absolute;
        content: "";
        width: 0%;
        height: 3px;
        left: 50%;
        bottom: -4px;
        border-radius: 100px;
        background-color: #4a2d8c;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .overlay-links:hover::after {
        width: 60%;
        left: 20%;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .mobile-view #overlay {
        -webkit-transition: 0.7s ease;
        -o-transition: 0.7s ease;
        transition: 0.7s ease;
        opacity: 1;
        pointer-events: all;
        z-index: 6;
    }

    .mobile-view #overlay .left {
        opacity: 1;
        width: 100%;
        height: 100vh;
    }

    .mobile-view #overlay .left ul li:nth-child(1) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(2) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(3) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(4) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(5) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .mobile-view #overlay .left ul li:nth-child(6) {
        -webkit-animation: mymove 0.9s;
        animation: mymove 0.9s;
        -webkit-animation-delay: 1.4s;
        animation-delay: 1.4s;
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    #overlay {
        -webkit-transition: 1s ease !important;
        -o-transition: 1s ease !important;
        transition: 1s ease !important;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.nav-links {
    -webkit-transition: all 300ms ease-in-out !important;
    -o-transition: all 300ms ease-in-out !important;
    transition: all 300ms ease-in-out !important;
}

.nav-links:hover {
    -webkit-text-stroke: 1px;
}

.nav_language_select {
    width: unset !important;
    padding: 10px 30px 10px 10px;
}

.form-select:focus {
    box-shadow: unset !important;
}

@media (max-width: 1299.98px) {
    .main-top-section {
        margin: 0px 40px;
    }
}

@media (max-width: 1259.98px) {
    .navbar-wrapper {
        padding: 0px 30px;
    }

    .nav_language_select {
        padding: 10px 35px 10px 10px;
    }

    .nav_logo_spanish {
        max-width: 170px;
    }
}

@media (max-width: 1199.98px) {
    .main-top-section {
        margin: 0px 20px;
    }
}

@media (max-width: 991.98px) {
    .main-top-section {
        margin: 0px 12px;
    }
}

@media (max-width: 575.98px) {
    .main-top-section {
        height: 50px;
    }

    .navbar-wrapper {
        padding: 0px 4px;
    }

    .nav_logo {
        max-width: 90px;
    }

    .navbar-wrapper .hamburger-menu {
        width: 25px;
    }
}

/* Button css */

.logo-bg {
    background-color: #C5C2C2;
    padding: 13px 25px;
    color: #3C278D;
}

.header-button {
    padding: 12px 56px;
    background-color: #3C278D;
    border-radius: 12px;
}