@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}

.accordion-item {
  background-color: transparent !important;
  border: 1px solid #272834 !important;
}

.border-none {
  border: none;
}

.accordion-box-text {
  color: #bec4d0;
}

.nos-box {
  padding: 24px;
  border-radius: 16px;
  background: #151619;
}

.accordion-button:not(.collapsed) {
  box-shadow: none !important;
}

.accordion-button {
  background: transparent !important;
  color: white !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  background-image: url(/assets/images/svg/add.svg) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(/assets/images/svg/minus.svg) !important;
}

.accordion-body {
  background: black !important;
  color: #bec4d0 !important;
}

.active-button {
  position: relative;
  border: none;
}

.active-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  background: linear-gradient(81.75deg, #18ff9e 0%, #1ea56c 126.43%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.nos-button {
  position: relative;
  border: none;
}
.nos-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  background: linear-gradient(81.75deg, #18ff9e 0%, #1ea56c 126.43%);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 10px;
}

/* ==Tab 2 */

.swiper-pagination-bullet {
  opacity: 1;
  width: 26px;
  height: 10px;
  border: 1px solid #da6015;
  background-color: transparent;
  border-radius: 91px;
}

.swiper-pagination-bullet-active {
  background-color: #da6015;
}

.swiper-pagination {
  bottom: 0px !important;
}
.nav.active {
  background-color: #da6015 !important;
  color: white !important;
  border: 0;
}
.nav {
  padding: 7.5px 26px;
}
.rounded-pill {
  border-radius: 52px !important;
}
.text-lg {
  font-size: 18px;
}
.text-base {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}

.pb-20 {
  padding-bottom: 40px;
}

.pb-10 {
  padding-bottom: 20px;
}
.nav-2-img {
  max-width: 364px;
  width: 100%;
}
/* ---------------responsive------------------ */
@media (max-width: 768px) {
  .nav-btns {
    overflow: auto !important;
  }
}
