@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
font-family: "Inter", sans-serif;
}

.accordion-item{
      background-color: transparent !important;
      border: 1px solid #272834 !important;
}

.border-none{
    border: none;
}

.accordion-box-text{
    color:#BEC4D0;
}

.nos-box{
    padding: 24px;
    border-radius: 16px;
     background:#151619;
}

.accordion-button:not(.collapsed){
   
    box-shadow: none !important;
}

.accordion-button{
background: transparent !important;
  color: white !important;
}

.accordion-button:focus{
box-shadow: none !important;
}

.accordion-button::after{
    background-image: url(/assets/images/svg/add.svg) !important;
}

.accordion-button:not(.collapsed)::after{
 background-image: url(/assets/images/svg/minus.svg) !important;   
}

.accordion-body{
    background: black !important;
     color:#BEC4D0 !important;
}

.active-button{
    position: relative;
    border: none;
    background-color: #151619 !important;
}

.active-button::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  border: 2px solid transparent;
  background: linear-gradient(81.75deg, #18FF9E 0%, #1EA56C 126.43%);
  -webkit-mask: 
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; 
    mask-composite: exclude;
    width: 143px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 54px;
            
}
.nos-button{
position: relative; 
border: none; 
 background:#151619 !important;                               
}

.nos-button::before{
    content: "";
    position: absolute;
    inset: 0;
  border-radius: 16px;
  border: 2px solid transparent;
   background: linear-gradient(81.75deg, #18FF9E 0%, #1EA56C 126.43%);
  -webkit-mask: 
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; 
          mask-composite: exclude;
             padding: 10px;                                
}

/* -------second-navtabs------------ */
.shop-text{
line-height: 150%;
max-width: 695px;
margin-left: auto;
margin-right: auto;
}

.shop-tabs-heading{
    color: #242021;
    font-size: 48px;
    line-height: 120%;
}

.shop-nav-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 52px;
    border: none;
}

.orange-points{
    width: 26px;
height: 10px;
border-radius: 91px;
border: 0.5px;
border: 0.5px solid #DA6015;
}

.shop-btn-box{
border: 1px solid #0E0F1366;
border-radius: 200px;
padding: 10px;
max-width: 722px;
margin-left: auto;
margin-right: auto;
}

.shop-img-slider{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.img-max-w{
max-width: 364px;
}
.bg-orange{
background-color: #DA6015;
}

.tab-button.active {
    background-color: #DA6015 !important; 
    color: white;
}

.tab-content {
    margin-top: 20px;
}

.swiper {
    height: 300px; 
}

.img-fluid {
    max-height: 100%;
}

.swiper-pagination-bullet {
            opacity: 1;
            width: 26px;
            height: 10px;
            border: 1px solid #DA6015;
            background-color: transparent;
            border-radius: 91px;
        }

        .swiper-pagination-bullet-active {
            background-color: #DA6015;
        }

        .swiper-pagination {
            bottom: 0px !important;
        }

/* ---------------responsive------------------ */
@media (max-width:768px) {
    .nav-btns{
        overflow: auto !important;
        
    }
}