.heading-roadmap {
  font-size: 3rem; /* Equivalent to text-3xl */
  line-height: 1.5; /* Customize as needed */
}

.paragraph-roadmap {
  max-width: 934px;
  padding: 0 1rem; /* Responsive padding */
}

.img-roadmap {
  height: 34px;
  top: 45%;
  left: 0;
  right: 0;
}
.dots-line-img {
  max-width: 969px;
}
.custom-card1 {
  border: 1px solid white;
  border-radius: 1rem;
  transition: border-color 0.3s;
  max-width: 216px;
  height: 112px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
}
.custom-card {
  border: 1px solid white;
  border-radius: 1rem;
  transition: border-color 0.3s;
  max-width: 216px;
  height: 112px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
.custom-card-header {
  background-color: transparent;
  color: #1e1e1e;
  font-size: 1.25rem;
  padding: 10px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  margin-bottom: 0;
}

.custom-card-body {
  background-color: transparent;
  color: #4d4d4d;
  padding: 10px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

.custom-card:hover {
  border-color: #cbc3da;
}

.custom-card:hover .custom-card-header {
  background-color: #3c278dc2;
  color: white;
}

.custom-card:hover .custom-card-body {
  background-color: rgba(30, 30, 30, 0.12);
}

.roadmap-item {
  position: relative;
  margin-top: 1.5rem;
  padding-left: 2.5rem;
}

.roadmap-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1px;
  width: 29px;
  height: 29px;
  background-image: url(../images/webp/circle-image.webp);
  background-size: cover;
  z-index: 10;
}
.mobile-bg-line::after {
  position: absolute;
  content: "";
  height: 100%;
  background: gray;
  top: 7px;
  bottom: 0;
  width: 2px;
  left: 15px;
}

/* }after:absolute after:w-[2px] after:h-[100%] after:bg-gray-300 after:top-[7px] after:bottom-0 max-lg:after:left-[20px] */
