@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.container {
  margin-top: 61px;
  max-width: 1180px;
}
.roadmap-section {
  padding-top: 48px;
  padding-bottom: 85px;
}

.roadmap-description {
  max-width: 934px;
  padding-left: 16px;
  padding-right: 16px;
  color: #000000b2;
}
.heading {
  padding-bottom: 16px;
  line-height: 67.77px;
  font-size: 56px;
}
.row {
  margin-top: 32px;
}
.timeline-text-r {
  padding-left: 40px;
}
.timeline-text-l {
  padding-right: 40px;
}
.roadmap-line {
  width: 2px;
  height: 100%;
  background-image: url("../images/webp/roadmap-line.webp");
  left: 50%;
  top: 0;
}
.roadmap-line-head {
  font-size: 24px;
  line-height: 2rem;
}
.step-circle {
  height: 71px;
  width: 71px;
  border: 1px solid black;
  border-radius: 50%;
}
.small {
  max-width: 429px;
  font-size: 16px;
  padding-top: 8px;
  color: #000000b2;
}
.small-3 {
  max-width: 448px;
  font-size: 16px;
  padding-top: 8px;
  color: #000000b2;
}
.step-number {
  font-size: 48px;
  color: #3c278d;
}

.step-line {
  width: 85px;
  border-bottom: 1px solid black;
}

.step-circle-small {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

.step-number-small {
  font-size: 32px;
  color: #3c278d;
}

.step-line-small {
  width: 40px;
  border-bottom: 1px solid black;
}
@media (max-width: 992.98px) {
.roadmap-section{
  padding-bottom: 56px;
} 
.heading{
  font-size: 48px;
}
}
@media (max-width: 768.98px) {
  .container{
    margin-top: 48px;
  }
  .roadmap-line {
    left: 22px;
  }
    .timeline-text-l {
    padding-left: 40px;
    padding-right: 0;
  }
  .roadmap-section{
    padding-bottom: 40px;
    padding-top: 40px;
  } 
  }
@media (max-width: 576.98px) {
  .container{
    margin-top: 36px;
  }
  .roadmap-section{
    padding-bottom: 36px;
    padding-top: 36px;
  }
  .heading{
    font-size: 30px;
  }
  }
 