@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.roadmap-section {
  padding: 160px 0 !important;
  max-width: 1920px;
}
.heading {
  font-size: 48px;
  padding-bottom: 22px;
  line-height: 67.77px;
}
.men-image {
  z-index: 1;
  width: 100%;
  max-width: 184px;
  right: 30px;
  top: 318px;
}

.left-ellipse {
  bottom: 0;
  max-width: 550px;
}

.stone-image {
  left: 0;
  bottom: 160px;
  max-width: 889px;
  height: 477px;
}

.right-ellips {
  top: 208px;
  right: 0;
  max-width: 690px;
  height: 602px;
  width: 100%;
}

/* Roadmap Content Blocks */
.opacity-75 {
  opacity: 70% !important;
}
.roadmap-content {
  max-width: 1032px;
}
.roadmap-content::after {
  position: absolute;
  content: "";
  background-image: url(../images/webp/roadmap-line-image.webp);
  background-size: cover;
  top: 0;
  left: -15px;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  height: 1477px;
  width: 5px;
}
.roadmap-year {
  font-size: 40px;
  text-align: start;
  padding-bottom: 22px;
  line-height: 48px;
}
.roadmap-text {
  font-size: 16px;
}
.roadmap-block {
  padding-left: 70px;
  background-repeat: no-repeat;
  background-position: left top;
}

.roadmap-block-1::after {
  position: absolute;
  content: "";
  background-size: cover;
  background-image: url("../images/webp/question-one.webp");
  top: 0;
  left: -60px;
  background-position: center;
  width: 90px;
  height: 90px;
  z-index: 10;
}
.roadmap-block-2 {
  margin-top: 140px;
}
.roadmap-block-2::after {
  background-image: url("../images/webp/question-two.webp");
  position: absolute;
  content: "";
  background-size: cover;
  top: 0px;
  left: -60px;
  background-position: center;
  width: 90px;
  height: 90px;
  z-index: 10;
}
.roadmap-block-3 {
  margin-top: 120px;
}
.roadmap-block-3::after {
  background-image: url("../images/webp/question-three.webp");
  position: absolute;
  content: "";
  background-size: cover;
  top: 0px;
  left: -60px;
  background-position: center;
  width: 90px;
  height: 90px;
  z-index: 10;
}
.roadmap-block-4 {
  padding-top: 150px;
}
.roadmap-block-4::after {
  background-image: url("../images/webp/question-four.webp");
  position: absolute;
  content: "";
  background-size: cover;
  top: 144px;
  left: -60px;
  background-position: center;
  width: 90px;
  height: 90px;
  z-index: 10;
}

.rocket-image {
  top: 50%;
  left: -35px;
  width: 43px;
  height: 134px;
  z-index: 10;
}
@media (max-width: 1024px) {
  .roadmap-block-1::after {
    width: 56px;
    height: 56px;
    left: -40px;
  }
  .roadmap-block-2::after {
    width: 56px;
    height: 56px;
    left: -40px;
  }
  .roadmap-block-3::after {
    width: 56px;
    height: 56px;
    left: -40px;
  }
  .roadmap-block-4::after {
    width: 56px;
    height: 56px;
    left: -40px;
  }
  .roadmap-block-2 {
    margin-top: 100px;
  }
  .roadmap-block-3 {
    margin-top: 90px;
  }
}
@media (max-width: 991.98px) {
  .roadmap-content::after {
    top: 0;
    left: 15px;
    background-position: center;
    background-repeat: no-repeat;
    bottom: 0;
    height: 1550px;
  }
  .roadmap-block-1::after {
    left: -10px;
  }
  .roadmap-block-2 {
    padding-top: 60px;
  }
  .roadmap-block-2::after {
    left: -10px;
    top: 60px;
  }
  .roadmap-block-3 {
    padding-top: 100px;
  }
  .roadmap-block-3::after {
    left: -10px;
    top: 100px;
  }
  .roadmap-block-4 {
    padding-top: 110px;
  }
  .roadmap-block-4::after {
    left: -10px;
    top: 110px;
  }
  .rocket-image {
    top: 25px;
    left: -5px;
    width: 43px;
    height: 134px;
    z-index: 10;
  }
  .roadmap-year {
    font-size: 30px;
  }
  .heading {
    font-size: 40px;
  }
  .stone-image {
    height: 277px;
  }
  .roadmap-block-2 {
    margin-top: 50px;
  }
  .roadmap-block-3 {
    margin-top: 40px;
  }
}
@media (max-width: 515px) {
  .roadmap-content::after {
    left: 25px;
    height: 1800px;
  }
  .roadmap-block-1::after {
    left: 0px;
  }

  .roadmap-block-2::after {
    left: 0px;
  }

  .roadmap-block-3::after {
    left: 0px;
  }

  .roadmap-block-4::after {
    left: 0px;
  }
  .roadmap-year {
    font-size: 26px;
  }
  .roadmap-text {
    font-size: 14px;
  }
  .heading {
    font-size: 30px;
  }
  .roadmap-block-2 {
    margin-top: 25px;
  }
}
@media (max-width: 424px) {
  .roadmap-content::after {
    left: 25px;
    height: 1950px;
  }
}
