.max-w-1140{
    max-width: 1140px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.max-w-267{
    max-width: 267px;
}
.bg-yellow{
    background: #EBA15B;
}
.rounded-52{
    border-radius: 52px;
}
.text-yellow{
    color:#EBA15B ;
}
.tab-btn{
    max-width: 293px;
}
.pb-sm{
    padding-bottom: 155px;
}
.max-w-300{
    max-width: 300px;
}
.shadow-custom-xl{
    box-shadow: 0px 4px 13.2px 0px #7D7D7D33;
}