p {
    margin-bottom: 0 !important;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.opacity-70 {
    opacity: 70%;
}

.opacity-80 {
    opacity: 80%;
}

/* ==========first pricing table=========== */
.w-1140 {
    width: 1140px;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.p-10{
    padding: 10px;
}
.py-sm{
    padding-top: 116px;
    padding-bottom: 116px;
}
.py-md{
    padding-top: 20px;
    padding-bottom: 20px;
}
.px-30{
    padding-left: 33px;
    padding-right: 33px;
}
.py-14{
    padding-top: 14px;
    padding-bottom: 14px;
}
.mb-sm{
    margin-bottom: 40px !important;
}
.mt-sm{
    margin-top: 40px !important;
}
.mt-md{
    margin-top: 30px;
}
.px-27{
    padding-left: 27px;
    padding-right: 27px;
}
.try-for-free-btn {
    background: white;
    border: 1px solid #EBA15B;
    padding: 13px 24px;
    color: #EBA15B;
    font-size: 16px;
    font-weight: 600;
    border-radius: 52px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.px-sm{
    padding-left: 30px;
    padding-right: 30px;
}
.leading-150{
    line-height: 150%;
}

.border-orange {
    border-top: 1px solid #FBECDE;
}
.border-orange-b {
    border-bottom: 1px solid #FBECDE;
}

.monthly-card {
    border: 1px solid #EFA7624D;
    border-radius: 12px;
    transition: all linear 300ms;
}

.monthly-card:hover .try-for-free {
    background: white;
}

.monthly-card:hover p {
    opacity: 100%;
    color: white;
}

.monthly-card:hover {
    background: #EBA15B;
}

.monthly-card:hover .month {
    color: white !important;
}

.monthly-card:hover .orange-tick {
    display: none;
}

.monthly-card:hover .white-tick {
    display: block;
}

.white-tick {
    display: none;
    transition: all linear 300ms;
}

.orange-tick {
    transition: all linear 300ms;
}

p, .month {
    transition: all ease-in-out 300ms;
}
.contact-us-btn:hover{
    background: white;
    color: #EBA15B !important;
}
.contact-us-btn{
    border: 1px solid #EBA15B !important;
    transition: all linear 300ms;
}

.w-267 {
    width: 267px;
}

.bg-orange {
    background: #EBA15B;
}

.rounded-52 {
    border-radius: 52px;
}

.text-yellow {
    color: #EBA15B;
}

.text-sm {
    font-size: 14px;
}
.text-lg{
    font: 16px;
}
.py-7{
    padding-top: 20px;
    padding-bottom: 20px;
}


.text-md {
    font-size: 32px;
}

.text-xl {
    font-size: 48px;
}.text-3xl{
    font-size: 20px;
}

.font-weight-normal {
    font-weight: 400;
}

.font-weight-bold {
    font-weight: 700;
}

.font-weight-semibold {
    font-weight: 600;
}

.tab-btn {
    max-width: 296px;
    border: 1px solid black;
    gap: 10px;
}

.pb-sm {
    padding-bottom: 155px;
}
.pb-md{
    padding-bottom: 40px;
}

.max-w-300 {
    max-width: 300px;
}

.shadow-custom-xl {
    box-shadow: 0px 4px 13.2px 0px #7D7D7D33;
}

/* =============pricing table 2==== */
.table-2 td {
    border-left: 1px solid #00000033;
}

.shadow-custom3xl {
    box-shadow: 0px 4px 13.2px 0px #7D7D7D33;
}

.bg-yellow {
    background: #E0A922;
}

.text-2xl {
    font-size: 24px;
}

.w-310 {
    width: 310px;
}

.w-300 {
    width: 300px;
}

.w-370 {
    width: 370px;
}

.w-108 {
    width: 108px;
}

.pl-4 {
    padding-left: 16px;
}

.pl-6 {
    padding-left: 24px;
}

.py-6 {
    padding-top: 18px;
    padding-bottom: 18px;
}
.py-140{
    padding-top: 140px;
    padding-bottom: 140px;
}

.border-r {
    border-right: 1px solid #0000001A
}

.border-b {
    border-bottom: 1px solid #0000001A
}
.border-off-white{
    border: 1px solid #00000033;
}

.rounded-t {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.rounded-b {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.rounded-br {
    border-bottom-right-radius: 16px;
}

.bg-grey {
    background: #ECECEC;
}

/* =============pricing table 3==== */
.w-248 {
    width: 248px;
}

.w-396 {
    width: 396px;
}

.w-317 {
    width: 317px;
}

.w-1005 {
    width: 1005px;
}

.h-24 {
    height: 24px;
}
.pricing-three-py{
    padding-top: 178px;
    padding-bottom: 157px;
}
.mb-md{
    margin-bottom: 56px;
}

.table-top {
    transform: translate(62.8%, 4px);
}

.table-bottom {
    transform: translate(62.8%, -4px);
}

.max-w-511 {
    max-width: 511px;
}

/* ===========responsive */
@media (max-width:1024px) {
    .text-xl {
        font-size: 40px;
    }
}

@media (max-width:1024px) {
    .text-xl {
        font-size: 35px;
    }
}